


<div class="row">
    <table *ngIf='isItem' class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of Carts">
               <td>{{p.Id}}</td>
               <td>{{p.Title}}</td>
               <td>{{p.Price}}</td>
               <td>{{p.Quantity}}</td>
               <td><button class="btn btn-danger" (click)="removeFromCart(p)">Remove from Cart</button></td>
            </tr>

        </tbody>
    </table>
</div>